#lgi {
    position: relative;
    margin: 15px;
}

#circle {
    background-color: rgba(3, 3, 3, 0.5);
    border-radius: 50px;
    width: 48px;
    height: 48px;
    position: relative;
    margin: 0px 0 0 86px;
    transition: transform 1s;
}

#logo {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    background-color: #fff;
    margin: 15px auto;
    border-radius: 100px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    filter: opacity(40%);

}

body {
    background-color: #333;
    height: 100%;
}

.buto {
    max-width: 100%;
}

.fcc {
    float: right;
    margin: 5%;
    width: 25%;

}

#card {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    background: url("/Assets/lite%20gray.jpg");
    filter: opacity(50%);
    margin: auto;
    height: 350px;
    width: 220px;
    overflow: hidden;
}

#fundo {
    box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: #e0e0e0;
    border-radius: 0px 0px 20px 20px;
    width: inherit;
    height: 80%;
    bottom: 0;
    position: absolute;
}

.toggleRotation{
    transform: rotate(-180deg);
}
