---
---
<div class="pane" id="pane-gear">
  <div class="sec">EQUIPPED GEAR</div>
  <div class="gear-grid">
    <div class="gitem"><span class="g-ico">&#9784;</span><div class="g-name">Kubernetes</div></div>
    <div class="gitem"><span class="g-ico">&#9252;</span><div class="g-name">ArgoCD</div></div>
    <div class="gitem"><span class="g-ico">&#9881;</span><div class="g-name">Crossplane</div></div>
    <div class="gitem"><span class="g-ico">&#9729;</span><div class="g-name">GCP / OVH</div></div>
    <div class="gitem"><span class="g-ico">&#9672;</span><div class="g-name">Terraform</div></div>
    <div class="gitem"><span class="g-ico">&#11041;</span><div class="g-name">Proxmox</div></div>
    <div class="gitem"><span class="g-ico">&#9689;</span><div class="g-name">Neovim</div></div>
    <div class="gitem"><span class="g-ico">&#9670;</span><div class="g-name">Nushell</div></div>
    <div class="gitem"><span class="g-ico">&#9935;</span><div class="g-name">Chainflip</div></div>
    <div class="gitem"><span class="g-ico">&#10227;</span><div class="g-name">n8n</div></div>
    <div class="gitem"><span class="g-ico">&#9635;</span><div class="g-name">Docker</div></div>
    <div class="gitem"><span class="g-ico">&#9676;</span><div class="g-name">Prometheus</div></div>
    <div class="gitem"><span class="g-ico">&#128202;</span><div class="g-name">Grafana</div></div>
    <div class="gitem"><span class="g-ico">&#128272;</span><div class="g-name">Vault</div></div>
    <div class="gitem"><span class="g-ico">&#9873;</span><div class="g-name">Latitude.sh</div></div>
    <div class="gitem"><span class="g-ico">&#9703;</span><div class="g-name">Taskwarrior</div></div>
  </div>
  <div class="grind">
    <div class="grind-title">&#9632; WHAT I'M INTO RIGHT NOW</div>
    <div class="grind-list">
      <span class="hi">&#9672;</span> Information Security Tecn&oacute;logo @ FIAP<br>
      <span class="hi">&#9672;</span> Hardware Hacking &amp; RF / SDR Exploration<br>
      <span class="hi">&#9672;</span> Mesh / P2P Network Architecture<br>
      <span class="hi">&#9672;</span> DEF CON &middot; BSides SP &middot; Zero Day FIAP Community
    </div>
  </div>
</div>
