---
---
<div class="footer">
  <div class="fbr"></div>
  &copy; 2025 HEPHAESTUS LABS &#9632; HAND-CRAFTED IN NEOVIM &middot; FUELLED BY COFFEE &amp; STUBBORNNESS<br>
  <span class="blink">&#9608;</span> ALL SYSTEMS NOMINAL &middot; THANKS FOR STOPPING BY <span class="blink" style="animation-delay:.55s">&#9608;</span><br>
  <a href="/terminal/" style="font-size:4px;opacity:.3;color:var(--gray);text-decoration:none;" title="Access terminal">&uarr;&uarr;&darr;&darr;&larr;&rarr;&larr;&rarr;BA</a>
</div>
