---
import PixelAvatar from './PixelAvatar.astro';
---
<div class="hdr">
  <div class="hdr-top">
    <span class="hdr-top-l">&#9632; HEPHAESTUS LABS &middot; GUSTAVO'S CORNER OF THE WEB</span>
    <span class="hdr-top-r">SAVE SLOT 01 &#9632; AUTOSAVE ON</span>
  </div>
  <div class="hdr-body">
    <PixelAvatar />
    <div class="char-info">
      <div class="char-name">GUSTAVO</div>
      <div class="ctag c-jade"><span class="ctag-icon">&#9876;</span>SENIOR SRE &middot; DEVOPS &middot; DEVSECOPS &middot; PLATFORM ENG</div>
      <div class="ctag c-copper"><span class="ctag-icon">&#9874;</span>FOUNDER &middot; HEPHAESTUS LABS</div>
      <div class="ctag c-lgray"><span class="ctag-icon">&#9689;</span>S&Atilde;O JOS&Eacute; DOS CAMPOS &middot; BRAZIL &middot; UTC-3</div>
      <div class="ctag c-amber"><span class="ctag-icon">&#9672;</span>REMOTE &middot; USD CONTRACTS &middot; ASYNC-FRIENDLY</div>
      <div class="divpx"></div>
      <div class="stat-bars" id="sbars">
        <div class="srow"><div class="slbl slbl-hp">HP</div><div class="strk"><div class="sfill sfill-hp" data-v="96"></div></div><div class="sval">96/100</div></div>
        <div class="srow"><div class="slbl slbl-mp">MP</div><div class="strk"><div class="sfill sfill-mp" data-v="89"></div></div><div class="sval">89/100</div></div>
        <div class="srow"><div class="slbl slbl-xp">XP</div><div class="strk"><div class="sfill sfill-xp" data-v="74"></div></div><div class="sval">&rarr; LV10</div></div>
      </div>
    </div>
  </div>
  <div class="cv-row">
    <a class="cv-btn" href="/pdf/resume.pdf" download><span style="font-size:10px">&#11015;</span>DOWNLOAD CV</a>
    <span class="cv-hint">PDF &middot; Updated 2025 &middot; EN/PT-BR available</span>
  </div>
</div>
