---
---
<div class="avatar-wrap">
  <div class="avatar-frame"><img src="/images/pixel-avatar.png" alt="Gustavo pixel art avatar" width="108" height="108" /></div>
  <div class="avatar-sub">SPRITE_0001.PNG</div>
  <div class="lvl-badge">LV.9</div>
</div>
